
main/.vs/main/v16/.suo
main/.vs/main/v16/Browse.VC.db
main/.vs/main/v16/Browse.VC.db-shm
main/.vs/main/v16/Browse.VC.db-wal
main/.vs/main/v16/Browse.VC.opendb
main/.vs/main/v16/ipch/AutoPCH/b06b474e82865fe1/CONSOLE.ipch
main/.vs/main/v16/ipch/AutoPCH/3c2937baeb28ad63/LOGIN_SYSTEM.ipch
main/.vs/main/v16/ipch/AutoPCH/909ec08504fd18f/SOURCE.ipch
main/.vs/main/v16/ipch/AutoPCH/ae7b270a4514cc85/CONSOLE.ipch
main/Course-Registration-System/x64/Debug/Console.obj
main/Course-Registration-System/x64/Debug/Course-R.101DAF2D.tlog/CL.command.1.tlog
main/Course-Registration-System/x64/Debug/Course-R.101DAF2D.tlog/CL.read.1.tlog
main/Course-Registration-System/x64/Debug/Course-R.101DAF2D.tlog/CL.write.1.tlog
main/Course-Registration-System/x64/Debug/Course-R.101DAF2D.tlog/Course-Registration-System.lastbuildstate
main/Course-Registration-System/x64/Debug/Course-R.101DAF2D.tlog/link.command.1.tlog
main/Course-Registration-System/x64/Debug/Course-R.101DAF2D.tlog/link.read.1.tlog
main/Course-Registration-System/x64/Debug/Course-R.101DAF2D.tlog/link.write.1.tlog
main/Course-Registration-System/x64/Debug/Course-Registration-System.log
main/Course-Registration-System/x64/Debug/Login_System.obj
main/Course-Registration-System/x64/Debug/Source.obj
main/Course-Registration-System/x64/Debug/vc142.idb
main/Course-Registration-System/x64/Debug/vc142.pdb
main/x64/Debug/Course-Registration-System.exe
main/x64/Debug/Course-Registration-System.ilk
main/x64/Debug/Course-Registration-System.pdb
main/Course-Registration-System/x64/Debug/Tokenizer.obj
main/.vs/main/v16/ipch/AutoPCH/f489a177fc0ad91e/TOKENIZER.ipch
main/.vs/main/v16/ipch/AutoPCH/62aa72fd54fef41d/TOKENIZER.ipch
main/.vs/main/v16/ipch/AutoPCH/2281a517bf650776/SCHOOL.ipch
main/.vs/main/v16/ipch/AutoPCH/2282d813cc2229f3/TIME.ipch
main/.vs/main/v16/ipch/AutoPCH/ef2f07bf32fc0891/TOKENIZER.ipch
main/.vs/main/v16/ipch/AutoPCH/f38a7dbed66a7fdf/SOURCE.ipch
main/Course-Registration-System/input1.csv
main/Course-Registration-System/list.csv.xlsx
main/Course-Registration-System/~$list.csv.xlsx
main/.vs/main/v16/ipch/AutoPCH/f38a7dbed66a7fdf/SOURCE.ipch
main/.vs/main/v16/ipch/AutoPCH/f0009d159bbfe14f/SOURCE.ipch
