
main/.vs/main/v16/.suo
main/.vs/main/v16/Browse.VC.db
main/.vs/main/v16/Browse.VC.db-shm
main/.vs/main/v16/Browse.VC.db-wal
main/.vs/main/v16/Browse.VC.opendb
main/.vs/main/v16/ipch/AutoPCH/b06b474e82865fe1/CONSOLE.ipch
